<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../../../partials/header'); %></header>

    <main>
      <div class="container">
        <h2>Asset Outward Register</h2>
        <form action="/AssetUpdate/<%= Outward._id %>" method="post">

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="date">Date:</label>
                <input type="date" class="form-control" id="date" value="<%= Outward.date.toISOString().split('T')[0] %>" name="date" required />

              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="serialNumber">Equipment Serial Number</label>
                <input type="text" class="form-control" id="serialNumber" name="serialNumber" value="<%= Outward.serialNumber %>" required />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="particulars">Particulars</label>
                <textarea class="form-control" id="particulars" name="particulars" rows="3"  required><%= Outward.particulars %> </textarea>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="assetDescription">Asset Description</label>
                <textarea class="form-control" id="assetDescription" name="assetDescription" rows="3" required><%= Outward.assetDescription %></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="assetSentTo">Asset Sent To</label>
                <input type="text" class="form-control" id="assetSentTo" name="assetSentTo" value="<%= Outward.assetSentTo %>" required />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="authorizedBy">Authorized By</label>
                <input type="text" class="form-control" id="authorizedBy" value="<%= Outward.authorizedBy %>" name="authorizedBy" required />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="remarks">Remarks:</label>
                <textarea class="form-control" id="remarks" name="remarks" rows="3" required><%= Outward.remarks %></textarea>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <a href="/viewassets" class="btn btn-secondary">Cancel</a>
        </form>
      </div>
    </main>
    <script>
      document.getElementById("cancelButton").addEventListener("click", function () {
        window.location.href = "/other-page" // Replace with the actual URL you want to redirect to
      })
    </script>
    <footer><%- include('../../../partials/footer'); %></footer>
  </body>
</html>
